@import 'vars';


header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
	background-color: #fff;
	position: relative;
	z-index: 1;
	padding: 4px 0;
}

.nav-logo {
	width: 100px;
	padding-left: 1.5rem;

}

.navbar-toggle span {
	display: block;
	background-color: #080808;
	height: 3px;
	width: 30px;
	margin: 5px auto;
	border-radius: 2px;
}

.navbar-toggle .br-2 {
	width: 19px;
	margin-right: 11px;
	border-radius: 2px;
}

header .navbar-toggle {
	border: none;
	background-color: transparent;
}

nav {
	width: 100%;
	height: 100vh;
	background-color: rgba(73, 69, 69, 0.956);
	background-color: #fff;
	position: fixed;
	top: 0;
	padding-top: 24px;
	overflow-y: auto;
	z-index: 2;
	animation: showMenu 350ms ease-in-out both;
	display: none;
}

@keyframes showMenu {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

nav::before {
	content: "CATEGORIES";
	padding-left: 1.8rem;
	line-height: 60px;
}

.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.navbar-left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

nav .navbar-left ul {
	// border: 1px solid red;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	line-height: 40px;
	width: 100%;
	height: 100%;
	padding-left: 1.5rem;
}

.navbar-left ul li a,
.navbar-right ul li a {
	text-decoration: none;
	color: var(--very-light-pink);
	// border: 1px solid var(--white);
	padding: 8px;
	border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
}

nav .navbar-left ul::after {
	content: '';
	width: 90%;
	height: 30px;
	margin-left: 0.5rem;
	border-bottom: 1px solid var(--very-light-pink);
	margin-bottom: 30px;
}

.navbar-right ul li:nth-child(1) {
	display: block;
	padding: 0 0.5rem;
}

.navbar-right ul li p:nth-child(2) {
	color: var(--hospital-green)
}

.navbar-right {
	float: left;
}

.navbar-email {
	color: var(--very-light-pink);
	font-size: var(--sm);
	cursor: pointer;
	margin-left: 1.5rem;

}

.navbar-email>span {
	display: none;
}

.navbar-right button {
	cursor: pointer;
	margin-right: 3.5rem;
}

.navbar-right ul:nth-child(2) {
	position: relative;
	top: 4px;
}

.navbar-shopping-cart {
	position: relative;
	top: 2px;
	position: fixed;
	top: 0.4em;
	right: 1rem;
	z-index: 1;
}

.navbar-shopping-cart img {
	cursor: pointer;
}

#btn-close {
	z-index: 2;
	position: fixed;
	top: 1.5rem;
	right: 1.5rem;
	width: 28px;
	cursor: pointer;
	z-index: 30;
}

.navbar-shopping-cart div {
	width: 16px;
	height: 16px;
	background-color: var(--cart-red);
	border-radius: 50%;
	font-size: var(--sm);
	font-weight: bold;
	position: absolute;
	// top: -6px;
	top: -2px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;
}

@media (min-width:911px) {
	.nav-logo {
		padding: 0;
	}

	nav {
		height: 20px;
		display: block;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		align-self: center;
		overflow-x: hidden;
		overflow-y: hidden;
		position: relative;
	}

	nav::before {
		display: none;
		line-height: 0;
	}

	nav .navbar-left ul::after {
		display: none;
	}

	nav .navbar-left ul {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding-left: 0.5rem;
		line-height: 43px;

	}

	.navbar-right button {
		display: none;
	}

	.navbar-right ul li p:nth-child(2) {
		color: var(--hospital-green);
		display: none;
	}

	.navbar-email {
		color: var(--very-light-pink);
		font-size: var(--sm);
		margin-right: 1rem;
		position: relative;
		right: 1rem;
	}

	.navbar-email:hover {
		color: var(--hospital-green)
	}

	.navbar-right ul li p:nth-child(1) {
		color: var(--hospital-green);
		position: relative;
		top: 2px;
		font-size: var(--sm);

	}

	.navbar-email>span {
		background-color: #ffffff;
		border: 0;
		border-radius: 3px;
		display: block;
		display: inline-block;
	}

	.navbar-email span {
		appearance: none;
		background-image: url("data:image/svg+xml,%3Csvg fill='%23007AFF' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3Cpath d='M0-.75h24v24H0z' fill='none'/%3E%3C/svg%3E");
		background-position: right 0 center;
		background-repeat: no-repeat;
		background-size: 1.5rem;
		padding: 0.5rem 1rem 0.8rem 1rem;
		width: auto;
		line-height: calc(1.5rem - 1.5px);
		color: #8DA0BC;

	}

	.navbar-right ul:nth-child(2) {
		position: fixed;
		z-index: 3;
	}

	.navbar-shopping-cart {
		position: relative;
		top: 0.5rem;
		right: 1.25rem;
		z-index: 2;
	}
}