@import 'vars';

.Orders {
	width: 100%;
	height: 85%;
	display: grid;
	place-items: center;
	position: absolute;
	top: 50px;
	background: #fff;
	z-index: 1;
}
.title {
	font-size: var(--lg);
	margin-bottom: 40px;
}
.Orders-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	// width: 300px;
	min-width: 310px;
	max-width: 375px;
}
.Orders-content {
	display: flex;
	flex-direction: column;
}
