@import 'vars';

.OrderItem {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	gap: 16px;
	// margin-bottom: 24px;
	// margin-bottom: 14px;
	margin-bottom: 8px;
	align-items: center;
	// width: 100%;
	// border: 1px solid rgb(0, 102, 255);
	border: 1px solid var(--text-input-field);
	padding: 8px;
	border-radius: 4px;
}
.appear-animation {
	opacity: 1;
	transform: translateY(0px);
}
.appear-dealy {
	transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.38s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.28s;
	transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.28s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.38s;
	transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.28s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.38s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.28s;
}
.OrderItem figure {
	margin: 0;
}
.OrderItem figure img {
	width: 70px;
	height: 90px;
	// border-radius: 24px;
	// width: 100%;
	border-radius: 2px;
	object-fit: cover;
	// max-height: 100px;
}
.OrderItem img {
	cursor:pointer;
}
.OrderItem p:nth-child(2) {
	color: var(--very-light-pink);
}
.OrderItem p:nth-child(3) {
	font-size: var(--md);
	font-weight: bold;
}
