@import 'vars';

.ProductItem {
	width: 100%;
	height: 100%;
	// border: 1px solid #d80d0d;
	position: relative;
	object-fit: contain;
	background-color: #fff;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ProductItem img {
	// width: 240px;
	width: 100%;
	height: 220px;
	// height: 240px;
	// border-radius: 20px;
	border-radius: 8px;
	object-fit: contain;
	margin-top: 1.5rem;
	
	// margin-bottom: 0.5rem;
}
.product-info {
	display: flex;
	// justify-content: space-between;
	flex-direction: column;
	// align-items: center;
	// margin-top: 12px;
	// margin-top: 0.5rem;
	// border: 1px solid rgb(0, 255, 34);
	padding: 0 0.5rem;
	// position: relative;
	// height: 90px;
}

.product-info div p:nth-child(1) {
	font-size: var(--sm);
	// margin-top: 0;
	// margin-bottom: 0;
	color: var(--very-light-pink);

	// font-weight: bold;
	// font-size: var(--md);
	// margin-top: 0;
	// margin-bottom: 4px;
}
.product-info span {
	position: relative;
	bottom: 0.25rem;
}
.product-info div p:nth-child(3) {
	// font-size: var(--sm);
	// margin-top: 0;
	// margin-bottom: 0;
	// color: var(--very-light-pink);
	font-weight: bold;
	font-size: var(--md);
	position: relative;
	bottom: 0.8rem;
	// margin-top: 0;
	// margin-bottom: 4px;
	// position: absolute;
	// bottom: 4px;
}
.product-info div p:nth-child(4) {
	font-size: .75rem;
	// color: var(--text-input-field);
	color: var(--very-light-pink);
	// color: red;
	position: absolute;
	top: -0.5rem;
	right: 0.5rem;
}


// .product-info .button-cart {
// 	// width: 100%;
// 	cursor: pointer;
// 	position: absolute;
// 	right: 0.5rem;
// 	bottom: 0.5rem;
// 	text-align: center;
// 	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
// 	// border: 1px solid red;
// 	border-radius: 50%;
// 	width: 37px;
// 	height: 35px;
// 	padding: 0.8rem .29rem 0 .29rem;
// }

.product-info figure {
	margin: 0;
}
.product-info figure img {
	width: 35px;
	height: 35px;
	cursor: pointer;
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 50%;

}



@media (max-width: 375px) {
	.ProductItem {
		max-width: 100%;
		height: 100%;
	}
}
// @media (max-width: 640px) {
// 	.cards-container {
// 		grid-template-columns: repeat(auto-fill, 140px);
// 	}
// 	.ProductItem {
// 		width: 140px;
// 	}
// 	.ProductItem img {
// 		width: 140px;
// 		height: 140px;
// 	}
// }
